/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  font-size: 30px;
}
a{
  display: block;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
